.about {
  display: flex;
  padding: 0 30px 0 30px;
  width: 100%;

  .about__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .about__title {
    margin: 0;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 26px;
  }

  .about__list {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.about__item {
  position: relative;
  width: 100%;
  font-size: 17px;
  line-height: 20px;
  padding-top: 60px;
  margin: 0 0 23px 0;

  @media (min-width: 768px) {
    width: 50%;

    &--materials {
      order: 0;
    }

    &--style {
      order: 2;
    }

    &--like {
      order: 4;
    }

    &--made {
      order: 1;
    }

    &--support {
      order: 3;
    }

    &--delivery {
      order: 5;
    }
  }


  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
  }

  &--materials::before {
    background-image: url("../../img/icon-feature-flower.svg");
    width: 32px;
    height: 37px;
    top: 6px;
    left: 9px;
  }

  &--style::before {
    background-image: url("../../img/icon-feature-money.svg");
    width: 47px;
    height: 27px;
    top: 7px;
    left: 1px;
  }

  &--like::before {
    background-image: url("../../img/icon-feature-heart.svg");
    width: 34px;
    height: 28px;
    top: 12px;
    left: 8px;
  }

  &--made::before {
    background-image: url("../../img/icon-feature-ball.svg");
    width: 35px;
    height: 35px;
    top: 9px;
    left: 4px;
  }

  &--support::before {
    background-image: url("../../img/icon-feature-rocket.svg");
    width: 55px;
    height: 23px;
    top: 10px;
    left: -5px;
  }

  &--delivery::before {
    background-image: url("../../img/icon-feature-gift.svg");
    width: 33px;
    height: 32px;
    top: 8px;
    left: 4px;
  }
}
