.catalog {
  display: flex;
  width: 100%;
  padding: 0 30px;
  margin: 0 0 31px 0;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    margin: 0 0 53px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 28px 0;
  }
}

.catalog__wrapper {
  display: flex;
  width: 100%;
}

.catalog__items-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.catalog-item {
  margin: 0 0 30px 0;

  &:nth-last-child(1) {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    margin: 0 0 54px 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    max-width: 316px;
    min-height: 659px;
    justify-content: space-between;
    margin: 0 50px 30px 0;

    &:nth-last-child(1) {
      margin: 0 50px 30px 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.catalog-item__image-wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.catalog-item__image-link {
  width: 100%;
}

.catalog-item picture {
  @media (min-width: 320px) and (max-width: 1149px) {
    min-width: 100%;
  }
}

.catalog-item__image {
  display: flex;
  margin: 0 auto;
  min-width: 100%;
}

.catalog-item__content-wrapper {
  border: 1px solid #ececec;
  padding: 26px 27px 0 27px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px 33px 0 33px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    flex-grow: 1;
    padding: 26px 33px 0 27px;
  }
}

.catalog-item__title {
  display: inline-block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 800;
  margin: 0 0 5px 0;
  text-decoration: none;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin: 0 0 6px -7px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 6px 0;
  }
}

.catalog-item__specifications {
  font-size: 13px;
  line-height: 30px;
  color: $text-gray;
  font-weight: 400;
  margin: 0 0 19px 0;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    margin: 0 0 auto -7px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 auto 0;
  }
}

.catalog-item__buy {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ececec;
  padding: 22px 0 25px 0;
}

.catalog-item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.catalog-item__cart {
  padding: 1px 0 0 0;
  margin: 0 -2px 0 0;
}

.catalog-item__cart svg {
  fill: #d3d2d2;

  &:hover {
    fill: $main-site-color;
  }

  &:active {
    opacity: 0.3;
  }
}
