.catalog {
  display: flex;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.catalog__wrapper {
  display: flex;
  width: 100%;
}

.catalog__items-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.catalog-item {
  margin: 0 auto;
}

.catalog-item__image {
  display: flex;
  margin: 0 auto;
  margin-bottom: 26px;
}

.catalog-item__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 28px;
  padding-right: 28px;
  margin: 0;
}

.catalog-item__specifications {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  font-weight: 400;
  padding-left: 28px;
  padding-right: 28px;
  margin: 0;
}

.catalog-item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 28px;
  padding-right: 28px;
}
