.catalog {
  display: flex;
  width: 100%;
  padding: 30px 30px 0 30px;
}

.catalog__wrapper {
  display: flex;
  width: 100%;
}

.catalog__items-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;

  @media (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.catalog-item {
  margin: 0 auto;

  @media (min-width: 768px) {
    display: flex;
    margin: auto;
    width: 100%;
  }

  @media (min-width: 1200px) {
    width: auto;
    flex-direction: column;
  }
}

.catalog-item__image-wrapper {
  display: flex;
  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 1200px) {
    width: auto;
  }
}

.catalog-item__image {
  display: flex;
  margin: 0 auto;
  margin-bottom: 26px;
}

.catalog-item__content-wrapper {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  @media (min-width: 1200px) {
    width: auto;
  }
}

.catalog-item__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding: 0 28px 0 28px;
  margin: 0;
}

.catalog-item__specifications {
  font-size: 13px;
  line-height: 30px;
  color: $text-gray;
  font-weight: 400;
  padding: 0 28px 0 28px;
  margin: 0;
}

.catalog-item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  padding: 0 28px 0 28px;
}
