.contacts-map {
  position: relative;
  display: flex;
  margin: 0 0 39px 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 0 0 57px 0;
  }

  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      width: 47px;
      height: 81px;
      top: 9px;
      right: 53px;

      @media (min-width: $desktop-width) {
        top: 0;
        left: 0;
      }
    }
  }
}

.contacts-map__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.contacts-map__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 25px -2px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    font-weight: 800;
    margin: 0 0 48px 0;
    padding: 23px 0 0 0;
  }
}

.contact-map__title-contacts {
  width: 100%;
  padding: 0 30px 0 30px;
  margin: 0 0 37px 0;

  @media (min-width: $tablet-width) {
    padding: 0 50px 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.contact-map__contacts-content {
  border-collapse: collapse;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 0 -2px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }

  & tr {
    margin: 0 0 20px 0;
    @media (min-width: $tablet-width) {
      width: 50%;
    }
  }

  & tbody {
    @media (min-width: $tablet-width) {
      display: flex;
    }

    @media (min-width: $desktop-width) {
      flex-direction: column;
    }
  }
}

.contact-map__field {
  vertical-align: top;

  &--address {
    padding: 29px 0 0 0;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }
}

.contact-map__value {
  padding: 0 0 0 29px;

  &--address {
    padding: 29px 0 0 29px;

    @media (min-width: $tablet-width) {
      padding: 0 0 0 26px;
    }
  }

  &--email {
    @media (min-width: $tablet-width) {
      padding: 0 0 0 23px;
    }
  }
}

.contact-map__email {
  border-bottom: 1px solid $main-site-color;
  padding: 0 0 4px 0;
}

.contact-map__address {
  padding-right: 25px;
}

.contact-map__maps {
  display: flex;
  justify-content: center;
  margin: 0 0 39px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 56px 0;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.contact-map__maps iframe {
  width: 100%;
}

.contact-map__button-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 30px 0 30px;
}

.contact-map__button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
