.header-logo {
  display: flex;
  width: 100%;
  padding: 21px 30px 16px 28px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  justify-content: center;

  @media (min-width: 768px) {
    padding: 22px 0 21px 0;
    border: none;
    width: auto;
  }

  .page-header__logo-image {
    margin: 0 auto;

    @media (min-width: 768px) {
      margin: 0;
    }

    @media (min-width: 1150px) {
      position: absolute;
      padding: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
