.index-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c6c6c6;
  padding: 30px 30px 46px 30px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @media (min-width: $tablet-width) {
    width: 567px;
    padding: 30px 108px 46px 108px;
  }

  // @media (min-width: $desktop-width) {
  //   margin: 0 0 25px 0;
  // }
}

.index-modal__title {
  width: 142px;
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 8px 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    text-align: center;
    margin: 0 0 18px 0;
    font-size: 30px;
    line-height: 57px;
  }
}

.index-modal__description {
  font-size: 15px;
  line-height: 30px;
  color: $text-gray;
  font-weight: 400;
  margin: 0 0 28px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 26px 0;
    font-size: 17px;
  }
}

.index-modal__radio-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 0 31px 0;
}

.index-modal__form {
  width: 100%;
}

.index-modal__radio-label {
  display: flex;
  font-size: 17px;
  line-height: 18px;
  margin: 0;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.index-modal__filter-radio {
  display: flex;
  width: 32%;
  min-height: 52px;
  justify-content: center;
  position: relative;
  height: 39px;
  border: 2px solid #ececec;

  &:nth-last-child(1) {
    margin: 0;
  }

  &:hover {
    border: 2px solid #c7c7c7;
  }

  &:active {
    border: 2px solid $main-site-color;
  }

  &:checked {
    border: 2px solid red;
  }
}

.button.index-modal__button {
  width: 100%;
  min-height: 52px;
  background: $main-site-color;
  color: #ffffff;
  border: none;
}
