.intro {
  width: 100%;
}

.intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-position: top center;
  justify-content: center;

  &--main {
    background-image: url("../../img/hero-mobile@1x.jpg");
    background-color: $background-gray;
  }

  &--catalog {
    background-color: $background-gray;
  }
}

.intro__title {
  width: 240px;
  font-size: 27px;
  font-weight: 800;
  line-height: 30px;
  margin: 0;
  padding: 70px 0 123px 0;
  text-align: center;
  vertical-align: center;

  &--catalog {
    padding-bottom: 77px;
  }

  @media (min-width: 768px) {
    padding: 152px 0 374px 0;
    font-size: 43px;
    line-height: 50px;
    width: 100%;
  }
}

.intro__catalog-link {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: 768px) {
    padding: 0 50px 0 50px;
  }
}

.catalog-link__item {
  position: relative;
  color: #ffffff;
  background-color: $main-site-color;
  text-decoration: none;
  font-size: 19px;
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
    font-size: 20px;
    line-height: 30px;
  }

  &--toys {
    background-color: #56c3b2;
    padding: 25px 0 31px 29px;

    @media (min-width: 768px) {
      padding: 27px 0 31px 36px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    opacity: 0.5;
  }

  &--interior {
    padding: 24px 0 30px 28px;

    @media (min-width: 768px) {
      padding: 27px 0 31px 35px;
    }
  }

  &--interior::after {
    background-image: url("../../img/icon-interior.svg");
    width: 40px;
    height: 62px;
    top: 23px;
    right: 37px;

    @media (min-width: 768px) {
      top: 30px;
    }
  }

  &--toys::after {
    background-image: url("../../img/icon-toy.svg");
    width: 60px;
    height: 60px;
    top: 21px;
    right: 27px;

    @media (min-width: 768px) {
      top: 31px;
      right: 34px;
    }
  }
}

.catalog-link__title {
  display: flex;
  width: 120px;
}
