.intro {
  position: relative;
  width: 100%;
  margin: 0 0 26px 0;

  @media (min-width: 768px) {
    margin: 0 0 45px 0;

    &::after {
      position: absolute;
      content: "";
      background-image: url(../../img/bg-zigzag-fill.svg);
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 24px;
      background-size: auto 24px;

      @media (min-width: 768px) {
        height: 34px;
        background-size: auto 34px;
        bottom: -17px;
      }
    }
  }

  @media (min-width: 1150px) {
    margin: 0 0 72px 0;
  }

  &--catalog {
    margin: 0 0 30px 0;

    @media (min-width: 768px) {
      margin: 0 0 80px 0;
    }
  }
}

.intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-position: top center;
  justify-content: center;

  &--main {
    background-image: url("../../img/hero-mobile@1x.jpg");
    background-color: $background-gray;

    @media (min-width: 768px) {
      background-image: url("../../img/hero-tablet@1x.jpg");
    }

    @media (min-width: 1150px) {
      background-image: url("../../img/hero-desktop@1x.jpg");
    }
  }

  &--catalog {
    background-color: $background-gray;
  }
}

.intro__title {
  width: 240px;
  font-size: 27px;
  font-weight: 800;
  line-height: 30px;
  margin: 0;
  padding: 70px 0 122px 0;
  text-align: center;
  vertical-align: center;

  @media (min-width: 768px) {
    padding: 152px 0 374px 0;
    font-size: 43px;
    line-height: 50px;
    width: 100%;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
    padding: 153px 0 359px 0;
  }

  &--catalog {
    padding-bottom: 76px;

    @media (min-width: 768px) {
      padding: 94px 0 80px 0;
    }
  }
}

.intro__catalog-link {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: 768px) {
    padding: 0 50px 0 50px;
  }
}

.catalog-link__item {
  position: relative;
  color: #ffffff;
  background-color: $main-site-color;
  text-decoration: none;
  font-size: 19px;
  width: 100%;

  // &:hover {
  //   padding-bottom: 5px;
  // }

  @media (min-width: 768px) {
    width: 50%;
    font-size: 20px;
    line-height: 30px;
  }

  &--toys {
    background-color: #56c3b2;
    padding: 25px 0 30px 29px;

    @media (min-width: 768px) {
      padding: 27px 0 31px 36px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    opacity: 0.5;
  }

  &--interior {
    padding: 25px 0 30px 28px;

    @media (min-width: 768px) {
      padding: 27px 0 31px 35px;
    }
  }

  &--interior::after {
    background-image: url("../../img/icon-interior.svg");
    width: 40px;
    height: 62px;
    top: 23px;
    right: 37px;

    @media (min-width: 768px) {
      top: 30px;
    }
  }

  &--toys::after {
    background-image: url("../../img/icon-toy.svg");
    width: 60px;
    height: 60px;
    top: 21px;
    right: 27px;

    @media (min-width: 768px) {
      top: 31px;
      right: 34px;
    }
  }
}

.catalog-link__title {
  display: flex;
  width: 120px;
}
