.intro {
  width: 100%;
}

.intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-position: top center;
  justify-content: center;

  &--main {
    background-image: url("../../img/hero-mobile@1x.jpg");
    background-color: #f1f1f1;
  }

  &--catalog {
    background-color: #f1f1f1;
  }
}

.intro__title {
  width: 240px;
  font-size: 27px;
  font-weight: 800;
  line-height: 30px;
  margin: 0;
  padding: 70px 0 123px 0;
  text-align: center;
  vertical-align: center;

  &--catalog {
    padding-bottom: 77px;
  }
}

.intro__catalog-link {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.catalog-link__item {
  position: relative;
  color: #ffffff;
  background-color: #63d1bb;
  text-decoration: none;
  font-size: 19px;
  padding: 25px 0 30px 29px;
  width: 100%;

  &--toys {
    background-color: #56c3b2;
  }

  &::after {
    position: absolute;
    content: "";
    opacity: 0.5;
  }

  &--interior::after {
    background-image: url("../../img/icon-interior.svg");
    width: 40px;
    height: 62px;
    top: 23px;
    right: 11.5%;
  }

  &--toys::after {
    background-image: url("../../img/icon-toy.svg");
    width: 60px;
    height: 60px;
    top: 21px;
    right: 8.5%;
  }
}

.catalog-link__title {
  display: flex;
  width: 110px;
}
