.logo-toggle-container {
  display: flex;
  width: 100%;
  padding-left: 48px;
  padding-right: 30px;
  padding-top: 21px;
  padding-bottom: 16px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  justify-content: center;

  .page-header__logo {
    margin: 0 auto;
  }

  .nav-toggle {
    width: 21px;
    height: 14px;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-top: 10px;
  }
}
