.logo-toggle-container {
  display: flex;
  width: 100%;
  padding-left: 116px;
  padding-right: 30px;
  padding-top: 21px;
  padding-bottom: 16px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  .page-header__logo {
    margin-right: 67px;
  }

  .nav-toggle {
    margin-top: 10px;
  }

}

