.main-nav {
  display: none;

  .main-nav__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.service-list__item,
.site-list__item {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 30px;
  border-bottom: 1px solid #ececec;

  .service-list__item a,
  .site-list__item a {
    color: #000000;
    text-decoration: none;
  }
}
