.main-nav {
  display: flex;

  .main-nav__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .main-nav__link {
    color: #000000;
    text-decoration: none;
  }
}


.service-list__item,
.site-list__item {
  display: flex;
  width: 100%;
  padding: 32px 30px 32px 74px;
  border-bottom: 1px solid #ececec;
}
