.order {
  padding: 0 30px 0 30px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.order__wrapper {
  display: flex;
  flex-direction: column;
}

.order__description {
  font-size: 13px;
  line-height: 24px;
  color: $text-gray;
  font-weight: 400;
  padding: 0 50px 0 50px;
}

.order-form__item-title {
  position: relative;
  font-size: 17px;
  line-height: 16px;
  color: $main-site-color;

  &::after {
    position: absolute;
    content: "";
    width: auto;
    height: 1px;
    background-color: $main-site-color;
    top: 49%;
    left: 62px;
    right: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 167px;
  }
}

.order-form__type,
.order-form__color,
.order-form__passport-data,
.order-form__contacts,
.order-form__additional,
.order-form__button-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 0 50px 0 50px;
  }
}

.order-form__name,
.order-form__email,
.order-form__tel {
  width: 100%;
  height: 55px;
  border: none;
  border-bottom: 2px solid $text-gray;
}

// ###start-order-form__type###
.order-form__radio-label {
  display: flex;
  white-space: nowrap;
  padding: 0 0 0 23px;
  align-items: center;
}

.order-form__filter-radio {
  display: flex;
  position: relative;
  padding-left: 40px;
  margin-bottom: 30px;
  width: 52px;
  height: 52px;
  border: 2px solid $text-gray;
  border-radius: 50px;

  &:hover {
    border: 2px solid $main-site-color;
  }

  &:active {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }
}

.order-form__filter-radio input[type="radio"]:checked + .order-form__radio-indicator {
  position: absolute;
  content: "";
  border: 11px solid $main-site-color;
  border-radius: 50px;
  left: 13px;
  top: 13px;
}
// ###end-order-form__type###

// ###start-order-form__color###
.order-form__color {
  @media (min-width: $tablet-width) {
    background-color: #f1f1f1;
  }
}

.order-form__color-checkbox-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
}

.order-form__color-item-wrapper {
  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.order-form__filter-chekbox {
  display: flex;
  position: relative;
  padding-left: 40px;
  margin-bottom: 30px;
  width: 40px;
  height: 39px;
  border: 2px solid $text-gray;

  &:hover {
    border: 2px solid $main-site-color;
  }

  &:active {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }
}

.order-form__filter-chekbox input[type="checkbox"]:checked + .order-form__checkbox-indicator {
  position: absolute;
  content: "";
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 39px;
  left: 5px;
  top: 5px;
}

.order-form__checkbox-label {
  padding: 5px 0 0 10px;
}
// ###end-order-form__color###

// ###start-order-form__passport-data###
.order-form__passport-data-wrapper {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.order-form__passport-title {
  margin: 0;
  font-size: 17px;
  line-height: 18px;
}

.order-form__passport-data label {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}
// ###end-order-form__passport-data###

// ###start-order-form__contacts###
.order-form__contacts {
  @media (min-width: $tablet-width) {
    background-color: #f1f1f1;
    flex-direction: column;
  }
}

.order-form__contacts label {
  @media (min-width: $tablet-width) {
    display: flex;
    background-color: #f1f1f1;
  }
}

.order-form__contacts input {
  @media (min-width: $tablet-width) {
    background-color: #f1f1f1;
    width: auto;
    flex-grow: 1;
  }
}
// ###end-order-form__contacts###

// ###start-order-form__additional###
.order-form__additional label {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
  }
}

.order-form__additional-wishes {
  width: 100%;
  height: 142px;
  border: 2px solid $text-gray;

  @media (min-width: $tablet-width) {
    width: auto;
    flex-grow: 1;
  }
}
// ###end-order-form__additional###

// ###start-order-form__button-wrapper###
.order-form__button-wrapper {
  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.order-form__require-note {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $text-gray;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.order-form__button {
  min-width: 100%;
  min-height: 52px;

  @media (min-width: $tablet-width) {
    order: 1;
    min-width: 230px;
  }
}
// ###end-order-form__button-wrapper###
