.page-header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .page-header {
    border-bottom: 1px solid #ececec;
    padding: 0 50px 0 50px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.page-header__delivery {
  display: none;
  position: absolute;
  right: 0;
  padding-right: 50px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $text-gray;

  @media (min-width: 768px) {
    display: block;
    top: 106px;
  }
}
