.page-footer {
  display: flex;
  width: 100%;
  padding: 30px 30px 0 30px;
  background-color: $background-gray;
}

.page-footer__wrapper {
  display: flex;
  background-color: $background-gray;
  width: 100%;
  flex-wrap: wrap;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 22px;
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
  padding: 0 5px 0 0;
  margin: 0;
}

.social__item {
  display: flex;
  justify-content: center;
}

.social__link {
  &--instagram {
    margin-right: 41px;
  }

  &--facebook {
    margin: -5px 39px 0 0;
  }
}

.page-footer__copyright {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 27px 65px 31px 0;
}

.copyright__link {
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #000000;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../img/htmlacademy.svg");
    width: 55px;
    height: 41px;
    top: -8px;
    right: -85px;
    background-repeat: no-repeat;
  }
}

.copyright__title {
  margin: 0;
  font-size: 19px;
  line-height: 18px;
}
