.production {
  padding: 0 30px 0 30px;
  width: 100%;
  margin: 0 0 32px 0;
}

.production__wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
}

.production__title-wrapper {
  display: flex;
  position: relative;
  padding: 0 0 0 90px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-video.svg");
    top: 30px;
    left: 32px;
    width: 32px;
    height: 22px;
    background-size: 32px 22px;
  }
}

.production__title {
  font-size: 17px;
  line-height: 24px;
}

.production__image-wrapper {
  display: flex;
  position: relative;
}

.production__play-button {
  position: absolute;
  content: "";
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  border: none;
  background-size: cover;
  border-radius: 20px;
  width: 101px;
  height: 77px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;

  &:hover {
    transform: scale(1.2) translate(-40%, -40%);
  }

  &:active {
    width: 81px;
    height: 62px;
    opacity: 0.3;
  }
}

.production__discription-order-wrapper {
  padding: 0 33px 32px 33px;
}

.production__description {
  font-size: 13px;
  line-height: 24px;
  color: $text-gray;
  font-weight: 400;
}

.production__order-botton {
  width: 100%;
  font-size: 17px;
  line-height: 16px;
  padding: 14px 0 14px 0;
}
