.production {
  padding: 0 30px 0 30px;
  width: 100%;
  margin: 0 0 58px 0;

  @media (min-width: $tablet-width) {
    padding: 0 50px 0 50px;
    margin: 0 0 63px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 105px 0;
  }
}

.production__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.production__title-wrapper {
  display: flex;
  position: relative;
  padding: 0 0 0 90px;
  border: 1px solid #ececec;
  border-bottom: none;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-video.svg");
    top: 34px;
    left: 33px;
    width: 32px;
    height: 22px;

    @media (min-width: $tablet-width) {
      top: 38px;
      left: 41px;
    }

    @media (min-width: $desktop-width) {
      top: 46px;
      left: 79px;
    }
  }

  @media (min-width: $tablet-width) {
    order: 2;
    padding: 0 0 0 105px;
  }

  @media (min-width: $desktop-width) {
    width: 35%;
    padding: 58px 0 0 76px;
    border-bottom: 1px solid #ececec;
  }
}

.production__title {
  font-size: 17px;
  line-height: 24px;
  width: 150px;
  margin: 0;
  padding: 23px 0 24px 0;

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 20px;
    padding: 36px 0 12px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    width: 160px;
  }
}

.production__image-wrapper {
  display: flex;
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    width: 65%;
  }
}

.production__image-wrapper picture {
  min-width: 100%;
}

.production__video-image {
  min-width: 100%;
  display: flex;
}

.production__play-button {
  position: absolute;
  content: "";
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  border: none;
  background-size: cover;
  border-radius: 20px;
  width: 101px;
  height: 77px;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;

  @media (min-width: $tablet-width) {
    top: 50%;
  }

  &:hover {
    transform: scale(1.2) translate(-40%, -40%);
  }

  &:active {
    width: 81px;
    height: 62px;
    opacity: 0.3;
  }
}

.production__description-order-wrapper {
  padding: 0 33px 32px 33px;
  border: 1px solid #ececec;
  border-top: none;

  @media (min-width: $tablet-width) {
    order: 3;
    padding: 0 41px 45px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 35%;
    position: absolute;
    bottom: 15px;
    right: 0;
    z-index: 2;
    padding: 0 57px 45px 79px;
    border: none;
  }
}

.production__description {
  font-size: 13px;
  line-height: 24px;
  color: $text-gray;
  font-weight: 400;
  margin: 0;
  padding: 22px 0 25px 0;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    padding: 22px 0 35px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 15px;
    line-height: 30px;
    padding: 22px 0 45px 0;
  }
}

.production__order-botton {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 17px;
  line-height: 16px;
  padding: 14px 0 14px 0;
}
