.review {
  position: relative;
  display: flex;
  padding: 0 30px 60px 30px;
  margin: 0 0 30px 0;
  width: 100%;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/bg-zigzag-line.svg");
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    background-size: auto 6px;

    @media (min-width: $tablet-width) {
      background-size: auto 17px;
      height: 17px;
    }

    @media (min-width: $desktop-width) {
      background-size: auto 23px;
      height: 23px;
      width: 1050px;
      left: 50px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 50px 60px 50px;
  }
}

.review__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.review__content {
  margin: 0 0 34px 0;

  @media (min-width: $tablet-width) {
    width: 50%;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }
}

.review__title {
  font-size: 25px;
  line-height: 30px;
}

.review__text {
  color: $text-gray;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.review__autor-name {
  font-size: 17px;
  line-height: 24px;
}

.review__autor-nickname {
  color: $text-gray;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
}

.review__navigation {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 50px;
    width: 175px;
    height: 100%;
  }
}

.review__nav-wrapper {
  display: flex;
  margin: 0 0 38px 0;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.review__nav-button {
  width: 50%;
  height: 52px;
  background: transparent;
  border: 1px solid #ececec;
  padding: 0;

  @media (min-width: $tablet-width) {
    border: none;
  }

  &--forward {
    border-left: none;
  }

  &:hover svg {
    opacity: 0.6;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.review__button {
  padding: 17px 0 18px 0;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-bottom: auto;
  }
}
