.weekly-product {
  display: flex;
  padding: 0 30px 0 30px;

  .weekly-product__wrapper {
    display: flex;
    padding-top: 27px;
  }

  .weekly-product__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .weekly-product__item-title {
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin: 0 0 5px 0;
  }

  .weekly-product__title {
    font-size: 17px;
    line-height: 20px;
    color: #63d1bb;
    margin: 0 0 23px 0;
  }

  .weekly-product__description {
    margin: 0;
    color: #444444;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 17px;
  }

  .weekly-product__specifications {
    margin: 0;
    color: #444444;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 29px;
    width: 100%;
    border-collapse: collapse;
  }

  .weekly-product__field,
  .weekly-product__value {
    border-bottom: 1px solid #ececec;
    padding: 10px 0 10px 0;
    height: 40px;
  }

  .weekly-product__image {
    display: flex;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .weekly-product__value {
    padding-left: 17px;
  }

  .weekly-product__price {
    color: #444444;
    margin: 0 auto;
    margin-bottom: 27px;
  }

  .weekly-product__order-button {
    font-size: 17px;
    line-height: 20px;
    padding: 14px 79px 14px 79px;
  }
}
