.weekly-product {
  position: relative;
  display: flex;
  padding: 0 30px 0 30px;
  margin-bottom: 33px;
  width: 100%;

  // &::after {
  //   position: absolute;
  //   content: "";
  //   background-image: url(../../img/bg-zigzag-line.svg);
  //   width:  1150px;
  //   height: 5px;
  //   bottom: 0px;
  //   left: 0;
  // }

  @media (min-width: 768px) {
    padding: 0 50px 0 50px;
  }

  .weekly-product__wrapper {
    display: flex;
    padding: 27px 0 36px 0;
    width: 100%;

    @media (min-width: 768px) {
      padding: 45px 0 36px 0;
    }
  }

  .weekly-product__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }

  .weekly-product__titel-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 45px;
    }
  }

  .weekly-product__content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      width: 50%;
      padding-right: 43px;
    }
  }

  .weekly-product__item-title {
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin: 0 0 4px 0;

    @media (min-width: 768px) {
      font-size: 43px;
      line-height: 50px;
      margin-left: -3px;
    }
  }

  .weekly-product__title {
    font-size: 17px;
    line-height: 20px;
    color: $main-site-color;
    margin: 0 0 23px 0;

    @media (min-width: 768px) {
      text-align: center;
      line-height: 17px;
      width: 110px;
      margin: 0;
      padding: 12px 17px 0 0;
    }
  }

  .weekly-product__description {
    margin: 0;
    color: $text-gray;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 18px;

    @media (min-width: 768px) {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 37px;
    }
  }

  .weekly-product__specifications {
    margin: 0;
    color: $text-gray;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 28px;
    width: 100%;
    border-collapse: collapse;

    @media (min-width: 768px) {
      margin-bottom: 56px;
    }
  }

  .weekly-product__field,
  .weekly-product__value {
    border-bottom: 1px solid #ececec;
    padding: 9px 0 10px 0;
    height: 40px;
  }

  .weekly-product__value {
    padding-left: 17px;

    @media (min-width: 768px) {
      padding: 0;
      margin-left: -2px;
    }
  }

  .weekly-product__image {
    display: flex;
    margin: 0 auto;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      position: absolute;
      top: 9px;
      right: -334px;
    }
  }

  .weekly-product__price {
    color: $text-gray;
    margin: 0 auto;
    margin-bottom: 27px;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 34px;
    }
  }

  .weekly-product__order-button {
    font-size: 17px;
    line-height: 20px;
    padding: 14px 79px 14px 79px;
  }

  .weekly-product__bottom-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
  }
}
