@import "blocks/main-nav.scss";
@import "blocks/logo-toggle-container.scss";
@import "blocks/intro.scss";
@import "blocks/weekly-product.scss";

*,
*:before,
*:after {
   -webkit-box-sizing: inherit;
           box-sizing: inherit;
}

html {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
}
.content-box-component {
   -webkit-box-sizing: content-box;
           box-sizing: content-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Roboto, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

.page-wrapper {
  position: relative;
  // max-width: 560px;
  width: 320px;
  height: 100%;
  background-color: #ffffff;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  color: #444444;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #444444;
}

// ###START-HEADER###

.page-header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.page-main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.nav-toggle {
  width: 21px;
  height: 14px;
  padding: 0px;
  background-color: transparent;
  border: none;
}



