@import "variables.scss";
@import "blocks/page-header.scss";
@import "blocks/header-logo.scss";
@import "blocks/main-nav.scss";
@import "blocks/intro.scss";
@import "blocks/page-main.scss";
@import "blocks/weekly-product.scss";
@import "blocks/about.scss";
@import "blocks/catalog.scss";
@import "blocks/page-footer.scss";
@import "blocks/review.scss";
@import "blocks/contacts-map.scss";
@import "blocks/production.scss";
@import "blocks/order.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}


body {
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
}

.page-wrapper {
  position: relative;
  min-width: 320px;
  max-width: 1150px;
  // width: 768px;
  height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: $text-gray;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #444444;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #444444;
  }
}

a {
  text-decoration: none;
}
